.schedule {
  padding: 20px;
}

.schedule h4 {
  margin-bottom: 16px;
}

.schedule span {
  opacity: 0.7;
}

.day-schedule {
  display: flex;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
}

.card {
  background-color: #d1d9f4;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  padding: 10px 20px;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}